.row {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -.5rem;
	margin-left: -.5rem
}

.col-xs,
.col-xs-6 {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: .5rem;
	padding-left: .5rem
}

.col-xs {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%
}

.col-xs-6 {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%
}

.center-xs {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center
}

.middle-xs {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

body {
	margin: 0 auto;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	background-color: #2C2F33;
	color: #fff;
}

svg path {
	fill: #7289DA;
}

.eye {
	height: 100%;
	padding-top: 15%;
	width: 100%;
}

.wrapper {
	margin: auto 0;
}